<div class="content">
    <div class="text">
        <h1>The Challenge</h1>
        <p>
            Youth with Disabilities are 10 times more likely to suffer from depression,<br>
             especially in East Africa where stigmatization, marginalization and <br>
             discrimination is still widespread. The lack of essential psychosocial <br>
             support creates additional barriers that keep Persons with Disabilities <br>
             from being able to obtain and maintain meaningful employment. <br> <br> 
        
            Next Step Foundation’s Upili Program addresses this pervasive mental <br>
            health challenge by providing Counselors with Disabilities to support <br>
             secondary school Students with Disabilities, their families and <br>
             communities. By meeting the psychosocial needs of these students and <br> 
             training teachers, staff and peers to serve as “psychological first <br>
             responders,” the Upili Program instills self-confidence, improves <br>
             academic performance and provides the tools to successfully navigate <br>
             future discrimination so they can achieve economic independence.
         </p>
    </div>

    <img src="homebg.png" alt="">

</div>


   